<div name="project" id="project" class="works-container">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-8">
                <h3>工作经验</h3>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-4">
                <app-card [imageUrl]="imgsArray[0]" [workDatas]="workData[0]"></app-card>
            </div>
            <div class="mdc-layout-grid__cell--span-4">
                <app-card [imageUrl]="imgsArray[1]" [workDatas]="workData[1]"></app-card>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-4">
                <app-card [imageUrl]="imgsArray[2]" [workDatas]="workData[2]"></app-card>
            </div>
            <div class="mdc-layout-grid__cell--span-4">
                <app-card [imageUrl]="imgsArray[3]" [workDatas]="workData[3]"></app-card>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
</div>
