<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell--span-8">
            <nav class="nav-container">
                <img src="../../../assets/images/svg/icon.svg" alt="tinalst">
                <nav>
                    <a (click)="link2Page('blob')">Github</a>
                    <a (click)="link2Page('bky')">博客园</a>
                    <a (click)="link2Page('resume')">简历</a>
                    <a (click)="link2Page('project')">项目</a>
                </nav>
            </nav>
        </div>
        <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
</div>
