<main>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div id="about" name="about" class="mdc-layout-grid__cell--span-8 avatar">
                <div class="pics"></div>
                <!--<img src="../../../assets/images/pics/" alt="">-->
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-2"></div>
            <div class="mdc-layout-grid__cell--span-8 description-me">
                <p>前端工程师，坐标深圳。2年前端开发经验，有中小型数据中心机房监控系统经验,擅长编写SVG代码实现大屏数据展示， 独立完成一套设备监控模板，缩短工期50%。</p>
                <p>主要技术栈Angular2+,熟悉Angular开发一整套流程及边沿链（例如Ionic), 有主导项目经验，搭建前端架构经验，对前端技术有持续的热情。</p>
                <p>自学能力强，能快速接收使用新知识，动手分析解决问题能力强，技术觉悟高。</p>
            </div>
            <div class="mdc-layout-grid__cell--span-2"></div>
        </div>
    </div>
</main>

